<div class="container">
    <div class="head">
 <div>
    <div *ngIf="displayadmin">
        <form action="" class="form" style="position: absolute; top: 6rem; right: 24.5rem; line-height: 1rem;">
              <p style="margin: 5px; font-size: 20px; font-weight: 400; display: inline-block;">Enter Email id</p>  
              <input type="email" style="margin-bottom: 2rem; padding: 5px; width: 40rem; margin-left: 28px;  border-radius: 3px;">
                <p style="margin: 5px; font-size: 20px; font-weight: 400; display: inline-block;">Enter Password</p> 
                <input type="password" style="margin-bottom: 2rem; padding: 5px; width: 40rem; margin-left: 15px;  border-radius: 3px;">
                 <button class="submit_button">LOGIN</button>
                </form>

    </div>

<button (click)="dataadmin()" id="admin" class="admin"
    style="position: relative; top: 2rem; font-size: 20px; background-color: white; border-style: none; font-weight: 500;">Admin
    Login</button>
</div>
    </div>
<hr class="line2">
</div>