.line2{
    position: relative;
    width: 125rem;
    bottom: 60px;
    right: 28rem;
    border: none;
    border-bottom: 2px solid grey;
    opacity: 30;
}

.head{
    display: flex;
    position: relative;
    right: 18rem;
    bottom: 5rem;
}


  .admin::after{
    content: '';
    position: absolute;
    width: 100%;
    margin-left: 2px;
    margin-bottom: 0px;
    transform: scaleX(0);
    height: 2.5px;
    top: 34px;
    left: 0rem;
    background-color: rgb(54, 37, 166);
    transform-origin: bottom right;
    transition: transform 0.25s ease-in;
  }
  
  .admin:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.submit_button{
  display: block; 
  margin-top: 0px; 
  margin-left: 5px;
  background-color: rgb(54, 37, 166); 
  color: white; 
  text-decoration: 0;
  font-size: 18px; 
  font-weight: 500;
  padding: 0px; 
  border-radius: 7px; 
  width: 5rem;
  height: 3rem;
  
}

.submit_button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(55, 80, 134);
}


.form{
    width: 55rem;
    position: absolute;
    display: block;
   
}
